html,body,#app
    width 100%
    height: 100%
    margin: 0;
    padding 0;
    // 清除浮动
.clear::after
    content: ""
    display: block
    opacity 0
    height: 0
    overflow hidden
    clear both